* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: black;
    background-image: url(/assets/images/fundoCorda1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 100%;
    height: 100%;
}

.conteiner {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 25px;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

.wpp {
    width: 90px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}


@media (max-width: 700px){

    .wpp{
        width: 60px;
    }

}


@media (max-width: 420px){

    .wpp{
        bottom: 38px;
        width: 55px;
    }

}
/*@media screen and (min-width: 300vw) and (max-width: 699vw){

    .sobre{
        background-color: red;
    }
}*/