footer{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 30px;
    display: inline-block;
    margin-left: 5px;
}

footer p{
    display: block;
}

.socials{
    display: inline-block;
}

@media screen and (min-width: 1600px){
    footer p{
        font-size: 1.3em;
    }

    footer img{
        width: 50px;
    }

}


@media (max-width: 700px){

    footer{
        margin-top: 0;
    }

    footer p{
    margin-top: 0;
    font-size: 0.8em;
    }

}