.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoNav img {
    width: 130px;
}

.bar input {
    display: none;
}

.hamburguer {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: none;
}

.hamburguer::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 10%;
    border-radius: 20px;
    background: #ffff00;
    transition: 1s ease;
}

.hamburguer::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 45%;
    width: 40%;
    height: 10%;
    border-radius: 20px;
    background: #ffff00;
    transition: 1s ease;
}

#hamburguer:checked ~ label .hamburguer::after {
    transform: rotate(225deg);
    width: 70%;
    height: 10%;
    top: 45%;
    left: 15%;
}

#hamburguer:checked ~ label .hamburguer::before {
    transform: rotate(-770deg);
    width: 70%;
    height: 10%;
    top: 45%;
    left: 15%;
}

.menu li {
    list-style: none;
    margin: 0;
    padding: 15px;
}

.menu {
    display: flex;
}

.menu a {
    padding: 15px;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffff00;
}

.menu a:hover {
    background: #c4c40f;
    color: #ffffff;
    transition: 1s;
}

@media screen and (min-width: 1600px) {
    .logoNav img {
        width: 180px;
    }
    .menu a {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 700px) {
    .hamburguer {
        display: block;
        position: absolute;
        top: 65px;
        right: 65px;
        z-index: 999;
    }
    
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 998;

        height: 100vh;
        background: #222;
        opacity: 0.8;

        padding: 150px 20px;
        
        flex-direction: column;

        transition: .5s ease;

        /* display: none; */
    }

    .menu.active {
        right: -100%;
    }
    
}

@media screen and (max-width: 550px) {
    .logoNav img {
        width: 90px;
}