.sobre{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: flex-end;
    text-align: left;
    justify-content: flex-start; 
    margin-top: 50px;
}


.homemAgachamento{
    width: 500px;
    
}

.treine{
    color: yellow;
    font-weight: 900;
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 20px;
}

.treine2{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0px;
}

.sobreIMG{
    width: 800px;
}
